<dialog id="docs_modal" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Information about client panel functions!</h3>
    <p class="py-4">
      Allows you to confirm the swap

    <ul class="list-disc space-y-2 pl-2">
      <li>
        First the swap initiator enters the key to unlock
        the funds in the contract
      </li>
      <li>
        then the key will be displayed in the admin
        interface and the other partsy to the swap will be
        able to confirm the swap and unlock the funds.
      </li>
    </ul>
    </p>
    <div class="modal-action">
      <form method="dialog">
        <!-- if there is a button in form, it will close the modal -->
        <button class="btn">Close</button>
      </form>
    </div>
  </div>
</dialog>