<div
  class="card bg-base-100 w-96 shadow-2xl z-0 hidden"
  data-tab-content="withdraw-tab"
>
  <form id="form" class="card-body">
    <ul id="info-list" class="list-disc space-y-2 px-2 marker:text-blue-500">
      <li>
        <p>
          Network:
          <span
            id="network_text"
            class="min-w-16 min-h-4 rounded skeleton transition duration-150"
          ></span>
        </p>
      </li>
      <li>
        <p>
          Chain id:
          <span
            id="chain_id_text"
            class="min-w-16 min-h-4 rounded skeleton transition duration-150"
          ></span>
        </p>
      </li>
      <li>
        <p>
          Key:
          <span
            id="key_text"
            class="min-w-16 min-h-4 rounded skeleton transition duration-150"
          ></span>
        </p>
      </li>
      <li>
        <p>
          Deadline:
          <span
            id="deadline_text"
            class="min-w-16 min-h-4 rounded skeleton transition duration-150"
          ></span>
        </p>
      </li>
      <li>
        <p>
          Amount:
          <span
            id="amount_text"
            class="min-w-16 min-h-4 rounded skeleton transition duration-150"
          ></span>
        </p>
      </li>
      <li>
        <p>
          Owner:
          <span
            id="owner_text"
            class="min-w-16 min-h-4 rounded skeleton transition duration-150"
          ></span>
        </p>
      </li>
      <li>
        <p>
          Asset:
          <span
            id="asset_text"
            class="min-w-16 min-h-4 rounded skeleton transition duration-150"
          ></span>
        </p>
      </li>
      <li>
        <p>
          Other party:
          <span
            id="other_party_text"
            class="min-w-16 min-h-4 rounded skeleton transition duration-150"
          ></span>
        </p>
      </li>
      <li>
        <p>
          Hash key:
          <span
            id="hash_key_text"
            class="min-w-16 min-h-4 rounded skeleton transition duration-150"
          ></span>
        </p>
      </li>
    </ul>

    <button class="btn btn-primary mt-2">Withdraw</button>
  </form>
</div>

<script src="/js/withdraw.js"></script>
